* {
  max-width: 650px;
  margin: auto;
}
.circle {
  width: 200px;
  height: 200px;
  background-color: black;
  border-radius: 50%;
  position: relative;
}

.btn-container {
  margin: 40px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 5px 10px;
}

.shape {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background-color: white;
}

/* ||CIRCLE */
.shape1 {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background-color: white;
  border-radius: 50%;
}

/* ||PARALLELOGRAM */
.shape2 {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(170deg);
  margin: auto;
  background-color: white;
}

/* ||RHOMBUS */
.shape3 {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  margin: auto;
  background-color: white;
}
