* {
  max-width: 650px;
  margin: auto;
}

/* ||DEFAULT COLOR - PURPLE */
.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: purple;
  position: relative;
}

.btn-container {
  margin: 40px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 5px 10px;
}

/* ||DEFAULT SHAPE - SQUARE */
.shape0 {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background-color: white;
}

/* ||CIRCLE */
.shape1 {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  background-color: white;
  border-radius: 50%;
}

/* ||PARALLELOGRAM */
.shape2 {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) skew(170deg);
  margin: auto;
  background-color: white;
}

/* ||RHOMBUS */
.shape3 {
  position: absolute;
  height: 60%;
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  margin: auto;
  background-color: white;
}

/*  */
.color0 {
  background-color: brown;
}

.color1 {
  background-color: darkolivegreen;
}

.color2 {
  background-color: darkcyan;
}

.color3 {
  background-color: darkgoldenrod;
}
